@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');




.fundo_franquiado{
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(../img/Fundo2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 1px;
}


.slide_fade {
    display: none;
}

.slide_fade img{
    vertical-align: middle;
    margin-top: 100px;
}

.container_slide{
    max-width: 76%;
    position: relative;
    margin: auto;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
}
.numberSlide{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 25px;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
} 

@media (max-width: 870px){
    .container_slide{
        max-width: 100%;
    }
}

.content_btn_franquiado{
    width: 100vw;
    height: auto;
    padding-bottom: 9%;
    display: flex;
    justify-content: center;
}

.btn_franquiado{
    width: 60rem;
    height: 7rem;
    cursor: pointer;
    border: 1px solid #8CC5BF;
    background-color: transparent;
    border-radius: 10px;

    color: rgb(255, 0, 0);
    font-weight: 400;
    font-size: 4rem;
    margin-top: 5rem;
    transition: all 0.2s ease-in-out;
    font-family: "Monoton", sans-serif;
    text-transform: uppercase;
}

.btn_franquiado:hover{
    box-shadow: 0 0 15px #97041f, inset 0 0 15px #97041f;
    text-shadow: 0 0 15px #97041f;
    border: 1px solid #97041f;
    background-color: transparent;
    color: #8CC5BF
}


@media (max-width: 720px){
    .btn_franquiado {
        font-size: 2.8rem;
    }
}
